<a href="/lesson/<%= slug %>" class="lesson-card <%= typeof disabled !== 'undefined' && disabled ? 'disabled' : '' %>">
	<span class="lesson-number"><%= number %></span>
	<span class="lesson-title"><%= title %></span>
	<span class="lesson-desc"><%= desc %></span>
</a>
